//==================Variables, Mixins & placeholders==================

$mobile: 320px;
$tablet: 768px;
$desktop: 1500px;

$headerSpacing: 15%;
$navbarHeightMobile: 50px;
$navbarHeightTablet: 93px;

$tabHeight: 6rem;
$tabWidthMobile: calc(20% - 2px);
$arrowHeightMobile: 16rem;
$arrowHeightTablet: 8rem;
$listBarHeight: 76px;

$skewMobile: 125deg;
$skewTablet: 50.2deg;
$skewDesktop: 65.4deg;

%clearfix {
  &::after {
    content:"";
    display:table;
    clear:both;
  }
}

//==================General styles==================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxes-wrapper {
  background-image: url('../images/content-bg.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 4rem 0;
}
