* {
  color: #000;
}

$color-1: #fff;
$color-2: #c43434;
$color-3: #428e9e;
$color-4: #4f8a60;
$color-5: #dfbb42;
$color-6: #8393ca;
$boxOverlay: rgba(255,255,255,0.8);
$listBar: #7ec8ea;

//================== Header ==================
.header {
  &__button {
    border: 0;
    background-color: transparent;
    opacity: 0.75;
  }
  .active &__button {
    opacity:1;
  }
  &__text {
    color: $color-1;
    &--first {
      background-color: $color-2;
    }
    &--second {
      background-color: $color-3;
    }
    &--third {
      background-color: $color-4;
    }
  }
}

//================== Navbar ==================
.navbar {
  background-color: $color-1;
  .icon-bar {
    background-color: #000;
  }
  &__link {
    color: #626262;
    &:hover {
      color: $color-1;
    }
  }
  &__item {
    &:nth-child(1):hover a{
      background-color: $color-5;
    }
    &:nth-child(2):hover a{
      background-color: $color-2;
    }
    &:nth-child(3):hover a{
      background-color: $color-4;
    }
    &:nth-child(4):hover a{
      background-color: $color-3;
    }
    &:nth-child(5):hover a{
      background-color: $color-6;
    }
  }
}

//================== Textboxes ==================
.textboxes {
  background-color: #f1f1f1;
  &__wrapper {
  }
  &__box {
    background-color: $color-1;
    &--1{
      color: $color-3;
    }
    &--2{
      color: $color-2;
    }
    &--3{
      color: $color-5;
    }
    &--4{
      color: $color-4;
    }
  }
  &__tab {
    color: $color-1;
    &--1{
      background-color: $color-3;
    }
    &--2{
      background-color: $color-2;
    }
    &--3{
      background-color: $color-5;
    }
    &--4{
      background-color: $color-4;
    }
    &--active {
      background-color: $color-1;
      &.textboxes__tab--1{
        color: $color-3;
      }
      &.textboxes__tab--2{
        color: $color-2;
      }
      &.textboxes__tab--3{
        color: $color-5;
      }
      &.textboxes__tab--4{
        color: $color-4;
      }
    }
  }
  &__name {
    color: inherit;
  }
}

//================== Peopleboxes ==================
.peopleboxes {
  &__box {
    background-color: $color-1;
    &--1 {
      border-top: 1rem solid #8393ca;
    }
    &--2 {
      border-top: 1rem solid #faad81;
    }
    &--3 {
      border-top: 1rem solid #a3d49c;
    }
    &--4 {
      border-top: 1rem solid #e5b6e7;
    }
    &:hover {
      .peopleboxes__caption {
        opacity: 0.8;
      }
    }
  }
  &__image {
    border: 1rem solid $color-1;
  }
  &__caption {
    opacity: 0;
    transition: opacity 0.3s;
  }
  &__text {
    color: $color-4;
    box-shadow: 0 0 0 $color-1, 0 0 0 $color-1;
    background-color: $color-1;
    @media screen and (min-width:$tablet){
      box-shadow: transparent;
      background-color: transparent;
    }
  }
}

.corner {
  &--1 {
    border-color: transparent $color-1 transparent transparent;
  }
  &--2 {
    border-color: transparent $color-1 transparent transparent;
  }
  &--3 {
    border-color: transparent transparent $color-1;
  }
  &--4 {
    border-color: $color-1 transparent transparent;
  }
}

//================== Cityboxes ==================

.cityboxes {
  &__box {
    position: relative;
    &::after {
      background-color: $boxOverlay;
    }
    &:hover {
      .cityboxes__arrow {
        background-color: $boxOverlay;
      }
    }
  }
  &__arrow {
    transition: background-color 1s;
  }
  &__corner {
    opacity: 0.5;
  }
}

//================== Listbox ==================
.listbox {
  background-color: $color-1;
  &__bar {
    background-color: $listBar;
  }
  &__item {
    &::before {
      border-bottom-color: $color-3;
    }
  }
}