$light: 300;
$regular: 400;
$bold: 700;
$black: 900;


//================== General typography ==================
html {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size:10px;
  @media screen and (min-width:$tablet) {
    font-size:16px;
  }
}

//================== Header ==================
.header {
  text-align: center;
  &__heading {
    margin: 0;
    font-size:3.4rem;
    font-weight: $black;
    @media screen and (min-width: $tablet){
      font-size:4.25rem;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 38px;
  }
}

//================== Navbar ==================
.navbar {
  &__link {
    text-align: center;
    text-transform: uppercase;
    font-weight: $bold;
    @media screen and (min-width:$desktop){
      line-height: $navbarHeightTablet!important;
    }
  }
}

//================== Textboxes ==================
.textboxes {
  &__heading {
    font-size: 24px;
    margin: 0;
    padding: 1rem 0;
  }
  &__tab {
    text-align: center;
    line-height: $tabHeight;
    font-size: 3.2rem;
    @media screen and (min-width:$tablet){
      font-size: 2.3rem;
    }
  }
}

//================== Peopleboxes ==================
.peopleboxes {
  &__caption {
    font-size: 1.8rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
  }
}

//================== Cityboxes ==================
.cityboxes {
  &__arrow {
    text-align: center;
    font-size: 15rem;
    font-weight: $light;
    line-height: $arrowHeightMobile;
    @media screen and (min-width:$tablet){
      line-height: $arrowHeightTablet;
      font-size: 5rem;
    }
  }
}

//================== Listbox ==================
.listbox {
  &__heading {
    margin: 0;
    font-size: 3.8rem;
    font-style: italic;
    line-height: $listBarHeight;
    letter-spacing: 0.3em;
  }
  &__list {
    list-style-type: decimal;
    @media screen and (min-width:$tablet){
      list-style-type: none;
      counter-reset: list-numbering;
    }
  }
  &__item {
    line-height: 1.2;
    margin: 0 0 0.5rem;
    position: relative;
    @media screen and (min-width:$tablet){
      margin-bottom: 4rem;
      padding-left: 2rem;
    }
    @media screen and (min-width:$desktop){
      margin-bottom: 2rem;
    }
    &::before {
      @media screen and (min-width: $tablet) {
        content: counter(list-numbering);
        counter-increment: list-numbering;
        font-size: 3.6rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}