.cityboxes {
  &__box {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    &::after {
      height: 100%;
      width: 100%;
      content: '';
      display: block;
      position: absolute;
      background-size: cover;
      transition: opacity 0.5s;
      transition-timing-function: ease-out;
      opacity: 1;
    }
    &:hover {
      &::after {
        opacity: 0;
      }
    }
    &--1 {
      &::after {
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transform: skewX(-$skewMobile);
        @media screen and (min-width:$tablet){
          transform: skewY($skewTablet);
        }
        @media screen and (min-width:$desktop){
          transform: skewY(-$skewDesktop);
        }
      }
    }
    &--2 {
      &::after {
        top:0;
        transform-origin: top right;
        transform: skewX($skewMobile);
        @media screen and (min-width:$tablet){
          transform-origin: top left;
          transform: skewY(-$skewTablet);
        }
        @media screen and (min-width:$desktop){
          transform: skewY($skewDesktop);
        }
      }
    }
  }
  &__image {
    position: relative;
    width: 100%;
    padding-top:100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: url('../images/filters.svg#grayscale'); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/
    @media screen and (min-width:$tablet){
      padding-top: 120%;
    }
    @media screen and (min-width:$desktop){
      min-height: 43rem;
    }
    &--1 {
      background-image: url("../images/image-box5.jpg");
    }
    &--2 {
      background-image: url("../images/image-box6.jpg");
    }
  }
  &__arrow {
    width: 12rem;
    height: $arrowHeightMobile;
    position: absolute;
    z-index: 10;
    display: inline-block;
    @media screen and (min-width:$tablet){
      height: $arrowHeightTablet;
      width: 6rem;
    }
    &--right {
      left: 0;
      bottom: 0;
      @media screen and (min-width:$tablet){
        left: auto;
        bottom: auto;
        right: 0;
        top: 0;
      }
      @media screen and (min-width:$desktop){
        left: auto;
        bottom: 0;
        right: 0;
        top: auto;
      }
    }
    &--left {
      left: 0;
      top: 0;
      @media screen and (min-width:$desktop){
        bottom: 0;
        top: auto;
      }
    }
  }
}