.header {
  position: relative;
  overflow: hidden;
  &__carousel {
    width:100vw;
  }
  &__slide {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top:5rem;
    height: 41rem;
    &--first {
      background-image: url('../images/header-bg1.jpg');
    }
    &--second {
      background-image: url('../images/header-bg2.jpg');
    }
    &--third {
      background-image: url('../images/header-bg3.jpg');
    }
  }
  &__heading {
    margin: 0 $headerSpacing;
  }
  &__navigation {
    position: absolute;
    bottom:4rem;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 $headerSpacing;
    @media screen and (min-width:$tablet){
      margin: 0 auto;
    }
    @media screen and (min-width:$desktop){
      margin: 0 $headerSpacing;
    }
  }
  &__button {
    position: relative;
    margin: 1rem 0;
    width: 100%;
    outline: 0;
  }
  &__icon {
    display: none;
    margin: 0 auto;
    pointer-events: none;
    @media screen and (min-width:$tablet){
      display: block;
    }
    @media screen and (min-width:$desktop){
      display: inline-block;
      width: auto;
    }
  }
  &__text {
    width: 100%;
    vertical-align: middle;
    pointer-events: none;
    @media screen and (min-width:$desktop){
      display: inline-block;
      width: 70%;
    }
  }
}


