.listbox {
  margin-top: 4rem;
  @media screen and (min-width:$desktop){
    margin-top: 2rem;
    min-height: 43rem;
  }
  &__bar {
    @media screen and (min-width:$tablet){
      margin-bottom: 2rem;
    }
  }
  &__heading {
    position: relative;
    margin-left: 100px;
    &::before {
      content: "";
      background-image: url("../images/box-icon.png");
      background-repeat: no-repeat;
      background-position: 50%;
      height: $listBarHeight;
      width: 49px;
      position: absolute;
      left: -50px;
    }
  }
  &__list {
    padding: 1rem 1rem 1em 2rem;
    margin-left: 1rem;
  }
  &__item {
    &::before {
      @media screen and (min-width: $tablet) {
        margin: 0;
        width: 3rem;
        position: absolute;
        top: 0;
        left: -2rem;
        transform: translateY(-50%);
        border-bottom-style: solid;
        border-bottom-width: 10px;
      }
    }
  }
}