.navbar {
  margin-bottom: 0;
  z-index:999;
  &.affix {
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    min-height: 5.875rem;
  }
  &__logo {
    height: 3.2rem;
    @media screen and (min-width: $tablet) {
      height: 4.375rem;
    }
  }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: $navbarHeightMobile;
    @media screen and (min-width: $tablet) {
      height: $navbarHeightTablet;
    }
  }
  &__logo-container {
    line-height: $navbarHeightMobile;
    @media screen and (min-width: $tablet) {
      line-height: $navbarHeightTablet;
    }
  }
  .navbar-header {
    position: relative;
  }
  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
  .icon-bar {
    width: 3.8rem;
    height: 0.7rem;
    margin-top:0.5rem!important; //overriding bootstrap padding
  }
  &__link {
    @media screen and (min-width:$desktop){
      padding-top: 0!important; //overriding bootstrap padding
      padding-bottom: 0!important; //overriding bootstrap padding
    }
  }
}
