.peopleboxes {
  &__box {
    position: relative;
    padding-top: 100%;
    margin-bottom: 2rem;
    &:hover {
      @media screen and (min-width:$tablet){
        .corner {
          border-width: 0;
        }
      }
      .peopleboxes__image {
        border-radius: 100%;
        background-size:250%;
        @media screen and (min-width:$tablet){
          width: 11rem;
          height: 11rem;
        }
        @media screen and (min-width:$desktop){
          width:14rem;
          height:14rem;
          top:10%;
          transform: translate(-50%,0);
        }
      }
    }
    @media screen and (min-width:$tablet){
      padding-top: 13rem;
    }
    @media screen and (min-width:$desktop){
      padding-top: 30rem;
    }
  }
  &__image{
    position: absolute;
    background-position: 50% 20%;
    background-size: 250%;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    top:50%;
    transform: translateY(-50%);
    @media screen and (min-width:$tablet){
      background-size: cover;
      height: 12.75rem;
    }
    @media screen and (min-width:$desktop){
      height: 30rem;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &--1 {
      background-image: url('../images/image-box1.jpg');
    }
    &--2 {
      background-image: url('../images/image-box2.jpg');
    }
    &--3 {
      background-image: url('../images/image-box3.jpg');
    }
    &--4 {
      background-image: url('../images/image-box4.jpg');
    }
  }
  &__caption {
    width:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    @media screen and (min-width:$tablet){
      left: auto;
      right:5%;
      transform: translate(0,-50%);
    }
    @media screen and (min-width:$desktop){
      left: 50%;
      top: auto;
      bottom: 0;
      transform: translate(-50%,0%);
    }
  }
}

.corner {
  position: absolute;
  border-style: solid;
  display: block;
  &--1 {
    top: -1px;
    right: -1px;
    border-width: 0 3rem 3rem 0;
  }
  &--2 {
    bottom: -1px;
    right: -1px;
    border-width: 3rem 3rem 0 0;
  }
  &--3 {
    bottom: -1px;
    left: -1px;
    border-width: 0 3rem 3rem 0;
  }
  &--4 {
    top: -1px;
    left: -1px;
    border-width: 3rem 3rem 0 0;
  }
}


