.textboxes {
  &__wrapper {
    position: relative;
    z-index: 10;
    margin: 4rem 0;
    padding-bottom: $tabHeight;
    @media screen and (min-width:$tablet){
      padding: $tabHeight 0;
    }
    @media screen and (min-width:$desktop){
      padding: calc(#{$tabHeight} / 2) 0;
    }
  }
  &__box {
    padding: 1rem;
    display:none;
    position: relative;
    width: calc(100% - 2px);
    margin: 0 auto;
    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);;
      top:-1px;
      left:-1px;
      z-index: -1;
      background-color: blue;
    }
    &--active {
      display: block;
    }
    @media screen and (min-width:$desktop){
      width: 55%;
    }
  }

  &__tab {
    position: absolute;
    z-index: -1;
    bottom: 0;
    display: inline-block;
    width: $tabWidthMobile;
    height: $tabHeight;
    &--active {
      margin: 0 1px 0 1px;
      z-index: auto;
      &::before {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);;
        top:-1px;
        left:-1px;
        z-index: -1;
        background-color: blue;
      }
    }
    &--2 {
      left:calc(#{$tabWidthMobile} + ((100% - (#{$tabWidthMobile} * 4)) / 3 ));
    }

    &--3 {
      right:calc(#{$tabWidthMobile} + ((100% - (#{$tabWidthMobile} * 4)) / 3 ));
    }

    &--4 {
      right: 0;
    }
    @media screen and (min-width:$tablet){
      position: absolute;
      width: 40%;
      &--1 {
        top: 0;
        left: 0;
      }
      &--2 {
        left: initial;
        right: 0;
        top: 0;
      }
      &--3 {
        bottom: 0;
        left: 0;
      }
      &--4 {
        bottom: 0;
        right: 0;
      }
    }
    @media screen and (min-width:$desktop){
      width: 25%;
    }
  }
  &__name {
    display: none;
    @media screen and (min-width:$tablet){
      display: inline-block;
    }
  }
}